0 PixelBasedCost.cl pixelBasedCostL2R
1 PixelBasedCost.cl pixelBasedCostR2L
2 PixelBasedCost.cl pixelBasedCostL2R_Float
3 PixelBasedCost.cl pixelBasedCostR2L_Float
4 PixelBasedCost.cl pixelBasedCostL2R_Color
5 PixelBasedCost.cl pixelBasedCostL2R_Color_Trunc
6 PixelBasedCost.cl pixelBasedCostR2L_Color
7 PixelBasedCost.cl pixelBasedCostR2L_Color_Trunc
8 RankFilter.cl calculateRankFilt
9 CensusTransform.cl calcCensusTrans
10 CensusTransform.cl calcHammingDist
11 NCCDisparity.cl calcNCCDispL2R
12 CombineCost.cl combineCost
13 ConvolveImage.cl convolveImage
14 ConstBlockAggregation.cl boxAggregate
15 AdaptiveWeightAggregation.cl computeWeights
16 AdaptiveWeightAggregation.cl calcAWCostL2R
17 AdaptiveWeightAggregation.cl calcAWCostR2L
18 CrossBasedAggregation.cl findCross
19 CrossBasedAggregation.cl aggregate_cost_horizontal
20 CrossBasedAggregation.cl cross_stereo_aggregation
21 WTA.cl WTA
22 WTA.cl WTA_NCC
23 CrossCheck.cl cross_check